nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: -10px;
    right: 0;
    left: 0;
    background-color: rgb(181, 210, 230);
    margin-bottom: 20px;
}
.cart{
    cursor: pointer;
    display: flex;
}
.cart img{
    position: relative;
    z-index: 1;
    top: 5px;
}
.cart span{
    background-color: rgb(9, 75, 216);
    color: white;
    border-radius: 50%;
    position: absolute;
    margin-left: 15px;
    top: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}